body {
    background-color: #222222;
}


#title .container-fluid {
    padding: 3% 7% 7%;
}

#about .container-fluid {
    padding: 3% 7% 7%;
}

#contact .container-fluid {
    padding: 0% 7% 7%;
}

#projects .container-fluid {
    padding: 0% 7% 7%;
}


.navbar-brand {
    color: #E4E4E4 !important;
}

.nav-link {
    color: #E4E4E4 !important;
}

.big-heading, .heading {
    font-size: 2.5rem;
    line-height: 1.5;
    font-weight: 900;
    text-align: left;
    color: #249076;
}

.heading {
    text-align: center;
}

.project-heading {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #E4E4E4;
}

.contact-heading {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #E4E4E4;
    margin-bottom: 100px;
}

.about-heading {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    color: #E4E4E4;
    font-weight: 700;
}

hr {
    border: 1px solid #E4E4E4;
    width: 70%;
    margin: 0px auto 30px;
}

.title-image {
    width: 70%;
}

.first {
    margin-top: 100px;
    border-radius: 30px;
    box-shadow: -30px -30px 50px #303030, 30px 30px 50px #141414;
}

.third, .fourth {
    padding: 50px 0;
}

ul {
    color: #E4E4E4;
}

.project-image {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 20px;

}

.project-image-card {
    text-align: center;
    width: 250px;
    margin: 20px auto;
    border-radius: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    box-shadow: -15px -15px 25px #303030, 15px 15px 25px #141414;
}

.github {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media screen and (min-width: 1000px) {
    .big-heading {
        font-family: 'Montserrat', sans-serif;
        font-size: 3.5rem;
        line-height: 1.5;
        font-weight: 900;
    }

    h3 {
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;
        line-height: 1;
        font-weight: 900;
    }

    .title-image {
        width: 60%;
    }

    #title .container-fluid {
        padding: 3% 15% 7%;
    }

    #about .container-fluid {
        padding: 3% 15% 7%;
    }

    #contact .container-fluid {
        padding: 0% 15% 7%;
    }

    #projects .container-fluid {
        padding: 0% 15% 7%;
    }

}